torch>=2.4.0
transformers>=4.50.0
accelerate>=0.26.0
sentence-transformers
gradio>=4.0.0
pandas
numpy
scipy
ollama

gradio_client
huggingface-hub
keras
libclang
pydantic
pydantic_core
safetensors
scikit-learn
tensorboard
tensorflow
tf_keras
tokenizers
wheel
